/* 
fonts from https://fonts.google.com/ section commented in index.html

font-family: 'Coiny', system-ui;
font-family: 'Dancing Script', cursive;
font-family: 'Sono', monospace;
font-family: 'Zilla Slab', serif;
*/

/* 
For colors - https://tailwindcss.com/docs/customizing-colors 
*/

/* 
\* applies to everything not declared 
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #292524;
  color: white;
  font-family: "Sono", monospace;
  padding: 48px 64px;
}

.main {
  display: grid;
  grid-template-columns: 250px 1fr;
  gap: 48px;
}

@media (max-width: 900px) {
  .main {
    grid-template-columns: 1fr;
  }
}

h1 {
  font-size: 42px;
  font-family: "Coiny", system-ui;
  text-transform: uppercase;
  line-height: 1;
  margin-top: 6px;
}

.container {
  max-width: 1500px;
  margin: 0 auto;
}

.header {
  margin-bottom: 40px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  gap: 16px;
}

.logo img {
  height: 68px;
  width: 68px;
}

.fact-form {
  background-color: #44403c;
  margin-bottom: 40px;
  padding: 16px 40px;
  text-align: center;
  display: flex;
  align-items: center;
  gap: 16px;
  border-radius: 10px;
}

.fact-form input,
.fact-form select {
  width: 215px;
  background-color: #71717a;
  border: none;
  border-radius: 20px;
  padding: 16px;
  font-size: 14px;
  color: inherit;
  font-family: inherit;
}

.fact-form span {
  font-weight: 600;
  font-size: 18px;
  margin-right: 18px;
}

.fact-form input::placeholder {
  color: white;
}

.fact-form input:first-child {
  flex-grow: 1;
}

@media (max-width: 1000px) {
  .fact-form {
    flex-direction: column;
    align-items: stretch;
  }

  .fact-form input,
  .fact-form select {
    width: auto;
  }
}

.hidden {
  display: none;
}

.category {
  margin-bottom: 16px;
}
/* .fact selects the class fact in html from <p class="fact"> */
.fact {
  font-size: 20px;
  line-height: 1.4;
  background-color: #44403c;
  margin-bottom: 16px;
  padding: 16px 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  letter-spacing: -1px;
  border-radius: 10px;
}

@media (max-width: 1200px) {
  .fact {
    flex-direction: column;
    align-items: flex-end;
    gap: 12px;
  }
}

.tag {
  text-transform: uppercase;
  font-size: 14px;
  font-family: "Coiny", system-ui;
  padding-top: 3px;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
  border-radius: 20px;
  transition: 0.5s;
}

.vote-buttons {
  display: flex;
  gap: 8px;
  margin-left: auto;
  flex-shrink: 0;
}

ul {
  list-style: none;
}

/* 
.souce.link,
.source.visited {
  color: black;
} 
*/

.source:link {
  color: gray;
  margin-left: 12px;
  text-decoration: none;
}

.source:visited {
  color: purple;
  margin-left: 12px;
  text-decoration: none;
}

.source:hover {
  color: #3b82f6;
  transition: 2s;
}

.source:active {
  color: green;
}

.btn {
  border: none;
  font-family: "Coiny", sans-serif;
  line-height: 1;
  text-transform: uppercase;
  font-size: 17px;
  padding: 16px 0 13px;
  background-image: linear-gradient(135deg, gray, darkblue, black);
  color: inherit;
  transition: 0.3;
  border-radius: 20px;
  cursor: pointer;
}

.btn:hover {
  transform: scale(110%) rotate(-3deg);
  background-image: none;
  background-color: black;
}

.btn-large {
  font-size: 24px;
  padding: 20px 32px 17px;
}

.btn-all-categories {
  margin-bottom: 20px;
  width: 100%;
}

.btn-category {
  width: 100%;
  background-image: none;
  background-color: rgb(51, 47, 47);
}

.vote-buttons button {
  border-radius: 30px;
  background-color: #71717a;
  border: none;
  font-size: 18px;
  font-weight: 700;
  padding: 6px 12px;
  color: inherit;
  font-family: inherit;
  cursor: pointer;
  transition: 0.5s;
}

.vote-buttons button:hover {
  background-color: black;
}
